.main{
    height: 550px;
    width: 600px;
    background-color: aqua;
}

.h1{
    background-color: black;
    color: black;
    height: 10%;
    width: 100%;
}

.space{
    height: 90%;
    width: 80%;
    margin-left: 60px;
    
}

.f1{
    background-color: black;
    color: black;
    height: 10%;
    width: 100%;
}

.header{
    height: 13%;
    background-color: rgb(232, 11, 11);
    text-align: center;
    font-size: large;
    margin-top: 3;
    color: white;
}

/* .con{
    height: 54%;
} */

.nav{
    height: 60%;
    width: 20%;
    background-color: blueviolet;
    text-align: center;
    margin-top: 5;
}

.footer{
    height: 13%;
    background-color: skyblue;
    text-align: center;
    font-size: large;
    margin-top: 3;
    color: white;
    white-space: nowrap;
}

